.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.row-title {
    font-weight: 700;
    font-size: 0.8em;
    width: 100px;
}

.CAC40 {
    color: steelblue;
}

.NASDAQ {
    color: orange;
}